/*
|--------------------------------------------------------------------------
| APP CONTENT
|--------------------------------------------------------------------------
*/

.app-content {

    margin-left: 280px;

    min-height: 100vh;

    background: var(--bg-primary);
}

/*
|--------------------------------------------------------------------------
| PAGE CONTENT
|--------------------------------------------------------------------------
*/

.page-content {

    padding: 28px;
}

/*
|--------------------------------------------------------------------------
| PAGE SECTION
|--------------------------------------------------------------------------
*/

.page-section {

    margin-bottom: 28px;
}